* {
    background-color:rgb(202, 255, 211);
    }
    
    h1 {
    font-size: 2.5rem;
    color: #004b06;
    font-weight: 600;
    }
    
    h2 {
    font-size: 2rem;
    color: #093d16;
    }
    
    h3 {
    font-size: 1.5rem;
    color: #084d30;
    }
    
    a {
    color: #002408;
    text-decoration: none;
    padding: 20px;
    }